<h2 style="text-align: center">
  <span class="badge badge-secondary">
      Password Change
  </span>
</h2>



<form #f="ngForm" (ngSubmit) = "onSubmit(data)">
 
  <div class="input-group mb-3 input-group-med">
      <div class="input-group-prepend">
        <span class="input-group-text">Current Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="data.pwd" name="pwd">
    </div>

    <div class="input-group mb-3 input-group-med">
      <div class="input-group-prepend">
        <span class="input-group-text">New Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="data.new_pwd" name="new_pwd">
    </div>
    <div class="input-group mb-3 input-group-med">
      <div class="input-group-prepend">
        <span class="input-group-text">Confirm Password</span>
      </div>
      <input type="password" class="form-control" [(ngModel)]="data.new_pwd2" name="new_pwd2">
    </div>


    
    <div *ngIf="response.rmessage=='INV_S_PWD'" style="text-align: center; margin-top: 10x;margin-bottom: 10px; color: orange">
      
      <b>Password Missmatch: </b> New Password and Confirm Password are missmatching !
</div>

<div *ngIf="response.rmessage=='INV_N_PWD'" style="text-align: center; margin-top: 10x;margin-bottom: 10px; color: orange">
      
      <b>Invalid New Password: </b> New Password should not be the old password...
</div>
<div *ngIf="response.rmessage=='INV_PWD'" style="text-align: center; margin-top: 10x;margin-bottom: 10px; color: orange">
      
  <b>Invalid Old Password: </b> Invalid Old Passsword...
</div>
<div *ngIf="response.rmessage=='INV_E_DATA'" style="text-align: center; margin-top: 10x;margin-bottom: 10px; color: orange">
      
  <b>Empty Password: </b> Please provide valid Old/New/Repeat Paswords (Passwords should not be empty and should be grater than 5 characters)
</div>
<div *ngIf="response.rmessage=='EXCEPTION'" style="text-align: center; margin-top: 10x;margin-bottom: 10px; color: red">
      
  <b>Exception: </b> {{response.rexception}}
</div>

    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block">Change Password</button> 
      <button type="button" class="btn btn-info btn-block" (click) = "clear()">Clear</button> 
    
      </div>
</form> 
